.pt-10 {
  padding-top: 4rem !important;
}

.pb-21 {
  padding-bottom: 9.5rem !important;
}

.mt-6 {
  margin-top: 2rem !important;
}

.mt-n22 {
  margin-top: -10rem !important;
}

.mb-lg-0 {
  margin-bottom: 0 !important;
}

.px-6 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.bg-gray {
  background-color: #F5F5F5;
}
